<div class="left-panel__container">
    <img src="../../../../assets/images/Logo.svg" alt="logo"/>
    <div class="left-panel__user-actions">
        <button mat-icon-button class="left-panel__action">
            <img src="../../../../assets/images/user.svg" alt="user"/>
        </button>
        <button mat-icon-button class="left-panel__action">
            <img src="../../../../assets/images/contacts.svg" alt="contacts"/>
        </button>
        <button mat-icon-button class="left-panel__action">
            <img src="../../../../assets/images/groups.svg" alt="groups"/>
        </button>
        <button mat-icon-button class="left-panel__action">
            <img src="../../../../assets/images/saved.svg" alt="saved messages"/>
        </button>
    </div>
    <div class="left-panel__app-actions">
        <button mat-icon-button class="left-panel__action" (click)="navigateToSettings()">
            <img src="../../../../assets/images/settings.svg" alt="settings"/>
        </button>
        <button mat-icon-button class="left-panel__action" (click)="logOut()">
            <img src="../../../../assets/images/log-out.svg" alt="log out"/>
        </button>
    </div>
</div>