.modal-layout {
  &__cover {
    position: fixed;
    background: rgba(33, 33, 33, 0.7);
    z-index: 10;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   

  &__cover.login{
    background-image: url('../../../assets/images/Login_background.png');
    background-color: #FAFAFA;
    background-size: cover;
    
    .modal-layout__content-container{
      border-radius: 8px;
      background-color: rgba(250, 250, 250, 0.8);
      backdrop-filter: blur(4px);
      padding: 24px 35px 16px;
      width: 400px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    }
  }
}
