.modal-layout {
  &__cover {
    position: fixed;
    background: rgba(33, 33, 33, 0.7);
    z-index: 10;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content-container {
    min-height: fit-content;
  }

  &__content {
    padding: 19px 27px 27px;
    width: 550px;
    background: #FFFFFF;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
  }

  &__close-container {
    position: fixed;
    left: calc(50% + 550px / 2 + 50px);
  }
}
