<div class="sign-in-container">
    <h1>{{'title' | translate}}</h1>
    <h2>{{'signup.title' | translate}}</h2>
    <form [formGroup]="signUpForm">

        <app-custom-input [formGroup]="signUpForm" controlName="email" label="{{'signup.email' | translate}}" placeholder="{{'signup.enterEmail' | translate}}">
        </app-custom-input>
        <app-custom-input [formGroup]="signUpForm" controlName="name" label="{{'signup.name' | translate}}" placeholder="{{'signup.enterName' | translate}}">
        </app-custom-input>
        <app-custom-input [formGroup]="signUpForm" controlName="username" label="{{'signup.username' | translate}}" placeholder="{{'signup.enterUsername' | translate}}">
        </app-custom-input>
        <app-custom-input [formGroup]="signUpForm" controlName="password" label="{{'signup.password' | translate}}" placeholder="{{'signup.enterPassword' | translate}}" [inputType]="passwordInput">
        </app-custom-input>
        <app-custom-input [formGroup]="signUpForm" controlName="repeatPassword" label="{{'signup.repeatPassword' | translate}}" placeholder="{{'signup.enterRepeatPassword' | translate}}" [inputType]="passwordInput">
        </app-custom-input>
    </form>
    <div class="actions">
        <button mat-icon-button (click)="backToSignIn()" aria-label="Example icon button with a vertical three dot icon">
            <img src="../../../../assets/images/arrow-left.svg" alt="Back icon"/>
          </button>
          <button (click)="submitData()" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <img src="../../../../assets/images/arrow-right.svg" alt="Next icon"/>
          </button>
    </div>
</div>