<div class="sign-in-container">
    <h1>{{'title' | translate}}</h1>
    <h3>{{'signin.title' | translate}}</h3>
    <div class="sign-in-container__buttons">
        <div class="sign-in-container__buttons__login">
            <button mat-raised-button color="accent"
            (click)="navigateToSignIn()">
            {{'signin.login' | translate}}
            </button>
            <button mat-raised-button color="basic"
            (click)="navigateToSignUp()">
            {{'signin.signup' | translate}}
            </button>
        </div>
        <button mat-button (click)="changeLanguage()">
            {{'signin.switchLanguage' | translate}}
        </button>
    </div>
</div>