<div class="sign-in-container">
    <h1>Tinker Web</h1>
    <h3>
        We are pleased to welcome you to the desktop version of the Tinker messenger and thank you for using our application for communication.
    </h3>
    <div class="sign-in-container__buttons">
        <div class="sign-in-container__buttons__login">
            <button mat-raised-button color="accent"
            (click)="navigateToSignIn()">
            Log In
            </button>
            <button mat-raised-button color="basic"
            (click)="navigateToSignUp()">
            Sign Up
            </button>
        </div>
        <button mat-button>
            Switch to Ukrainan
        </button>
    </div>
</div>