<div class="chats-list__container">
    <div class="chats-list__search">
        <div class="list-label">
            <h2>{{'messenger.chats.messages' | translate}}</h2>
            <label class="chip">{{unreadMessages}}</label>
        </div>
        <div class="list-actions">
            <input placeholder="search"/>
            <img src="../../../../assets/images/search.svg" alt="search" class="search"/>

            <button mat-icon-button class="chats-list__action">
                <img src="../../../../assets/images/plus-circle.svg" alt="New chat"/>
            </button>
        </div>
    </div>
    <div class="chats-list__chats__container">
        <div class="chats-list__chats">
            <div class="chat-list__chats label">
                <label>{{'messenger.chats.pinned' | translate}}</label> 
                <img src="../../../../assets/images/Pinned.svg" alt="Pinned"/>
            </div>
            <p>chat!</p>
            <p>chat!</p>
            <p>chat!</p>
            <p>chat!</p>
            <p>chat!</p>
        </div>
        <div class="chats-list__chats">
            <div class="chat-list__chats label">
                <label>{{'messenger.chats.allMessages' | translate}}</label>
                <img src="../../../../assets/images/Unpinned.svg" alt="All"/>
            </div>
            
            <p>chat!</p>
            <p>chat!</p>
            <p>chat!</p>
            <p>chat!</p>
            <p>chat!</p>
            <p>chat!</p>
            <p>chat!</p>
            <p>chat!</p>
            <p>chat!</p>
            <p>chat!</p>
            <p>chat!</p>
            <p>chat!</p>
            <p>chat!</p>
            <p>chat!</p>
            <p>chat!</p>
            <p>chat!</p>
            <p>chat!</p>
            <p>chat!</p>
            <p>chat!</p>
            <p>chat!</p>
        </div>
    </div>
</div>