.chats-list{
    &__container{
        padding: 18px 20px 0px;
        width: 300px;
        height: calc(100% - 18px);
        background-color: rgba(250,250,250, 0.7);
        border-radius: 20px;
    }
    &__search{
        .list-label{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;
            .chip{
                font-style: normal;
                font-weight: 300;
                font-size: 13px;
                line-height: 20px;
                width: 16px;
                height: 20px;
                padding: 0 10px ;
                color: #353535;
                background-color: #FF4081;
                border-radius: 39px;
                display: flex;
                justify-content: center;
            }
        }
        .list-actions{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .search{
                position: fixed;
                left: 326px;
            }
            input{
                height: 18px;
                width: 224px;
                padding: 8px 14px;
                border-radius: 20px;
                border: none;
                outline:none;
                font-style: normal;
                font-weight: 300;
                font-size: 12px;
                line-height: 18px;
                color: #353535;
            }
        }
        margin-bottom: 12px;
    }
    &__action{
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
    }
    &__chats{

        &__container{
            overflow-y: auto;
            overflow-x: hidden;
            height: calc(100vh - 150px);
            margin-bottom: 30px;
        }
        margin-bottom: 20px;
        &:last-child{
            margin-bottom: 0px;
        }
        .label{
            display: flex;
            align-items: center;
            gap: 14px;
            justify-content: flex-start;
            margin-bottom: 16px;
        }
        label{
            //todo: move to Main text
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #121212;
        }
        p{
            &:last-child{
                margin-bottom: 0px;
            }
            margin-bottom: 18px;
        }
        
    }
}