<div class="login-in-container">
    <h1>{{'title' | translate}}</h1>
    <h2>{{'login.title' | translate}}</h2>
    <form [formGroup]="loginForm">

        <app-custom-input [formGroup]="loginForm" controlName="email" label="{{'login.email' | translate}}" placeholder="{{'login.enterEmail' | translate}}">
        </app-custom-input>
        <app-custom-input [formGroup]="loginForm" controlName="password" label="{{'login.password' | translate}}" placeholder="{{'login.enterPassword' | translate}}" [inputType]="passwordInput">
        </app-custom-input>
    </form>
    <div class="actions">
        <button mat-icon-button (click)="backToSignIn()" aria-label="Example icon button with a vertical three dot icon">
            <img src="../../../../assets/images/arrow-left.svg" alt="Back icon"/>
          </button>
          <button (click)="submitData()" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <img src="../../../../assets/images/arrow-right.svg" alt="Next icon"/>
          </button>
    </div>
</div>
